@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
    html {
        @apply bg-[#0e0e10];
    }
}

a {
  font-weight: 600;
  color: white;
}
p a{
  text-decoration: underline;
    color: #ffde21;
}

p a:hover{
    color: #e00284;
}
nav a{
    color: #e00284;
}
header a:hover {
  color: black;
  text-decoration: underline;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #ffde21;
  --text-shadow-2xs: inherit;
    font-weight: bold;
}

h2 {
    font-weight: bold;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
